@model MaClassePA.Models.MatiereModel

@{ViewData["Title"] = "Créer une matière";}

<h1>@ViewData["Title"]</h1>
<hr />
<form asp-action="Creer" method="post">
    <input type="hidden" asp-for="ClasseId" name="cid" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Nom" class="control-label"></label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Créer" class="btn btn-primary" />
    </div>
</form>
