@model System.Collections.Generic.List<MaClassePA.Models.ClasseModel>

@{
    ViewData["Title"] = "Accueil";
}

<h1>Bienvenue sur l'espace des classes !</h1>
<div class="danger" style="border: dashed red 2px; padding: 10px; margin-top: 20px">
    <h4 class="text-danger">Avertissement</h4>
    <p>Ce site est encore en construction, vous pouvez <strong>participer</strong> à son développement sur : <a target="_blank" href="https://github.com/lamarch/EspaceDesClasses">Github</a>, toute aide est acceptée quelle qu'elle soit.</p>
    <p> Vous pouvez également participer à la rédaction des cours et à la gestion des classes en demandant l'accès sur <u>le serveur Discord de la classe</u>, ou bien en ouvrant <u>une nouvelle issue sur <a target="_blank" href="https://github.com/lamarch/EspaceDesClasses/issues/new">Github</a></u>.</p>
    <p>Malgré la mise en place d'une branche test <em>bientôt disponible</em>, il est possible que le site soit <strong>instable</strong> ou que les données se retrouvent corrompues, nous nous en excusons d'avance et nous faisons cependant tout notre possible pour éviter ces troubles.</p>
</div>
<br />
<hr />
<br />
<div class="container">
    <h2>Classes disponibles :</h2>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Matières</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var classe in Model.Where(c => !c.EstSupprime))
            {
            <tr>
                @{
                    var fullName = classe.NomComplet;
                    var count = classe.Matieres.Count(m => !m.EstSupprime);
                    var link = "/classes?id=" + classe.Id;

                    <td>
                        <h5>
                            @fullName
                        </h5>
                    </td>
                    <td>
                        @count
                    </td>
                    <td>
                        <a href=@link class ="btn btn-primary"><i class="bi bi-eye"></i></a>
                    </td>
            }
                </tr>
            }
        </tbody>
    </table>
</div>