@model MaClassePA.Models.ClasseModel

@{
    ViewData["title"] = "Classes";
    var back_link = "/";
    var add_link = "/matieres/creer?cid=" + Model.Id;
}


<h1>@Model.NomComplet</h1>

<a href=@back_link class="btn btn-primary"><i class="bi bi-arrow-left-circle"></i> Accueil</a>

<br />
<hr />
<br />

<div class="container">
    <h2>Matières disponibles :</h2>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Ressources</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var matiere in Model.Matieres.Where(m => !m.EstSupprime))
            {
                var details_link = "/matieres?id=" + matiere.Id;
                var delete_link = "/matieres/supprimer?id=" + matiere.Id;
                var update_link = "/matieres/editer?id=" + matiere.Id;

                var count = matiere.Ressources.Count(r => !r.EstSupprime);

                <tr>
                    <td><h5>@matiere.NomComplet</h5></td>
                    <td>@count</td>
                    <td>
                        <a href=@details_link class="btn btn-primary"><i class="bi bi-eye"></i></a>
                        @if (ViewBag.CanUpdateMatieres)
                        {
                            <a href=@update_link class="btn btn-secondary"><i class="bi bi-pencil"></i></a>
                        }
                        @if (ViewBag.CanDeleteMatieres)
                        {
                            <a href=@delete_link class="btn btn-danger"><i class="bi bi-trash"></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-right">
        @if (ViewBag.CanCreateMatieres) 
        { 
            <a href=@add_link class="btn btn-info bi bi-plus-square text-right"></a>
        }
    </div>

</div>
