@model MaClassePA.Models.Compte.ConnecterModel

@{
    ViewData["Title"] = "Se Connecter";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form action="/compte/in" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <input type="hidden" asp-for="UrlRetour" value=@Model.UrlRetour/>
                <div class="form-group">
                    <label asp-for="Nom"></label>
                    <input asp-for="Nom" class="form-control" />
                    <span asp-validation-for="Nom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MotDePasse"></label>
                    <input asp-for="MotDePasse" class="form-control" />
                    <span asp-validation-for="MotDePasse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="SeSouvenir">
                            <input asp-for="SeSouvenir" />
                            @Html.DisplayNameFor(m => m.SeSouvenir)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
